@font-face {
    font-family: 'Iranian_Sans';
    src: url("IRANSans-Medium-web.eot");
    src: url("IRANSans-Medium-web.eot?#iefix") format("embedded-opentype"), url("IRANSans-Medium-web.woff2") format("woff2"), url("IRANSans-Medium-web.woff") format("woff"), url("IRANSans-Medium-web.ttf") format("ttf");
    font-weight: bold
}
@font-face {
    font-family: 'Iranian_Sans';
    src: url("IRANSans-web.eot");
    src: url("IRANSans-web.eot?#iefix") format("embedded-opentype"), url("IRANSans-web.woff2") format("woff2"), url("IRANSans-web.woff") format("woff"), url("IRANSans-web.ttf") format("ttf");
    font-weight: normal
}
@font-face {
    font-family: 'Iranian_Sans';
    src: url("IRANSans-web.eot");
    src: url("IRANSans-web.eot?#iefix") format("embedded-opentype"), url("IRANSans-web.woff2") format("woff2"), url("IRANSans-web.woff") format("woff"), url("IRANSans-web.ttf") format("ttf");
    font-weight: normal
}
@font-face {
    font-family: 'Custom';
    src: url("IRANSans-web.eot");
    src: url("IRANSans-web.eot?#iefix") format("embedded-opentype"), url("IRANSans-web.woff2") format("woff2"), url("IRANSans-web.woff") format("woff"), url("IRANSans-web.ttf") format("ttf");
    font-weight: normal
}
